body {
  font-family: system-ui;
  background: #ADD8E6;
color: white; 
  text-align: center;
  font-size: 350%;
    word-spacing: 10px;
      text-decoration: overline underline blue  10px;
}
img {
  border-radius: 15px;
    opacity: 0.95;
}
h1 {
  font-size: 50%;
  font: Verdana;
  
}
